#main{
	margin:15px auto;
	width:960px;
	height:570px;
	padding:30px;
	background-color:white;
	font-family:calibri;
	font-size:13px;
}

#wait{
	margin:220px auto;
}

#category,#country{
	width:300;
}

#grafico{
	margin-top:15px;
	width:900px;
	height:550px;
}
