body{
	background-color:#2e5678;
}

#espere,#main{
	font-family:calibri;
	font-size:13px;
}

#espere {	
	color: #767676;
	text-align:center;
	margin:220px auto;
}

#main{
	margin:15px auto;
	width:960px;
	height:570px;
	padding:30px;
	background-color:white;
}


#category,#country{
	width:300;
}

#grafico{
	margin-top:15px;
	width:900px;
	height:550px;
}
