body{
	background-color:#D0D0D0;
}

#espere,#main{
	font-family:calibri;
	font-size:13px;
}


#espere {	
	color: #767676;
	text-align:center;
	margin:200px auto;
}

#main{
	margin:15px auto;
	width:980px;
	height:660px;
	padding:10px;
	background-color:white;
}

#category,#country,#journal{
	margin:auto;
	width:400;
}

#grafico{
	margin:auto;
	width:900px;
	height:600px;
}
